@import url('https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap');

.TreeContainer {

    display: flex;
    align-items: center;
    flex-direction: row;

}





img{
    width:75%;
height: 75%}


body {

    background-color: green;
    font-family: 'protest strike', cursive;
    font-size: large;
    color: white;
}


p, h3 {
    border: darkolivegreen solid 4px;
    background: greenyellow;
    border-radius: 15px;
    font-size: large;

}


footer {
    background-color: darkgreen ;
    border-color: darkseagreen;
    color: white;
    border-radius: 75px;
    font-size: xx-large;

}